.grid-container {
    height: 100%;
    /* vh = view height, en gros tout l'ecran avec 100 */
    display: grid;
    margin: 0;
    padding: 0;
    grid-gap: 10px;
    grid-template-rows: 20vh 1fr 10vh;
    grid-template-columns: 1fr 6fr;
    grid-template-areas: "header header"
                         "aside container-liste"
                         "footer footer";
                        
}
body{
    background-color: #787C8F; 
}
header{
    background-color:#0F111C;
    grid-area: header;

}

aside{
    background-image: radial-gradient(circle at 20% 50%, rgba(14.12%, 14.51%, 16.86%, 0.88) 100%, rgba(14.12%, 14.51%, 16.86%, 0.98) 0%);
    grid-area : aside;
}
footer{
    background-color:#0F111C;
    grid-area: footer;
}
.container-liste{
    grid-area: container-liste;
    display: grid;
    
    /*grid-template-rows: repeat(2, 1fr);*/

}
.liste-film{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}
#unFilm{
    display: grid;
}

