.liste-film{
display: grid;

}

.film{

}
#film > div:nth-child(even){
    background-color: red;
}
#film>div:nth-child(odd){
    background-color: blue;
}
.red{
    color: red;
}
.taille{
    text-align: center;
    height: 355px;
    position: relative;
}
img{
   /*  height: 355px; */
    width: auto;
    position: absolute;
    left: 100px;

}

p{
    opacity: 0;
}

.desciption-film{
    position: relative;
    height: 290px;
   /*  max-width: 340px; */
    overflow: auto;   
    visibility: hidden; 
}
@keyframes opac1{
    from{opacity:1}
    to{opacity:0}
    to{visibility: hidden;}
 }
 @keyframes opac2{
    from{opacity: 0;}
    to{opacity:1}
 }
 .animate-opacity-img{
    -webkit-animation:opac 1.5s;
    animation:opac1 1.5s;
    animation-fill-mode: forwards;/* permet de maintenir l'etat de fin de la keyrames*/
 }
 .animate-opacity-text{
    -webkit-animation:opac 1.5s;
    animation:opac2 1.5s;
    animation-fill-mode: forwards;
 }